version: "3.8"
services:
  app:
    depends_on:
      - redis
    build: .
    ports:
      - 5173:5173 # Vite dev server
  redis:
    image: redis:latest
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis-data:/data
    ports:
      - 6379:6379
volumes:
  redis-data:
    driver: local
    name: digitalmuse-redis-data
    external: true

